body, html {cursor: url(./img/cursor.cur), auto}

*{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
}

ul{
    list-style: none;
    
    padding:0px!important; 
    }

#nav{
    margin-top: 20px;
}
#nav a {
    margin-left:20px;
    color:black;
    text-decoration: none;
    font-size: 48px;
}

#nav p {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
margin-left: 20px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color:rgb(202, 202, 202)
}
.menuChild{
    display:inline-block;
    float:left;
}
.menu p {
    padding-left: 10px;
}
.menu li {
    padding-left: 10px;
    font-size: 24px;
}



#navWrapper{
    position:fixed;
    height: 100vh;
    width: 380px;
    display:flex;
    justify-content: space-between;
    padding-right: 0px;
    
}
#contentsWrapper{
    margin-left: 380px;
    width: calc(100% - 390px);
    margin-top: 20px;
    padding: 0px;
    right: 0px;
    
}
#nav{
    /* background-color: antiquewhite; */
    width: 100%;
}
#divider{
    background-color: black;
    width: 2px;
    padding: 0px;
}

#horizontalDivider{
    background-color: black;
    width: 100%;
    height:2px;
}

#title{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;

}

#titleEng{
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
}


#largerText{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 72px;
}

#largerTextEng{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 72px;
}

#textWrapper{
    margin-left: 10px;
    margin-right: 10px;
}





#largeText{
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 64px; 
}

#largeTextEng{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 64px;
}

#smallText{
    font-family: Apple SD Gothic Neo;
font-style: normal;
font-weight: normal;
font-size: 24px;
}

#smallTextEng{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 24px;
}


.dot{
    background-color: rgb(0, 0, 0); width: 18px; height: 18px;
    display:inline-block;
    border-radius: 50%;
    margin:1em;
}

.logo{
    margin: 20px;
    width: 100%;
}

p a{
    text-decoration: none;
    color: black
}

p a:hover{
    color:rgb(202, 202, 202)
}

#hamburger{
    display: none;
}


.kit{
  width: 70%;
}


@media only screen and (max-width : 1500px) {
  
  .manual{
    width:auto;
  }
}


.columnKit {
  float: left;
  width: 50%;
  padding: 10px;
  margin-bottom: 5em;
  
}

.rowKit {
  width: 70%;
}

/* Clear floats after the columns */
.rowKit:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnKit {
    width: 100%;
  }
}



@media only screen and (max-width : 980px) {
  .rowKit{
    width: 80%;
  }

    
  
  .sentence1{
        margin-bottom: 70vh;
    }
    
    .dot{
        background-color: rgb(0, 0, 0); width: 10px; height: 10px;
        display:inline-block;
        border-radius: 50%;
        margin:0.5em;
    }

    #hamburger{
        display:block;
        
    }

    #textWrapper{
        padding-left: 20px;
    }
    
    
   #nav {
       display: none;
   } 

   .navDivider{
       display: none;
   }


   #contentsWrapper{
       margin-left:0px;
       width: 100%;
       
   }

   #title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    }

    #titleEng{
        font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    }
   #largeText{
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px; 
    }   

    #largeTextEng{
        font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    }

   #largerText{
    font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 32px; 
    }   

    #largerTextEng{
        font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    }

    #smallText{
        font-family: Apple SD Gothic Neo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    }

    #smallTextEng{
        font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    }

}




.menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 0;
    transition: 0.5s ease;
    z-index: 1;
    background-color: white;
  }
  
  .burger-icon {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    z-index: 2;
    padding: 8px;
    top: 20px;
    right: 20px;
    user-select: none;
    width: auto;
    margin: 0;
  }
  
  .burger-icon .burger-sticks {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
  
  .burger-icon .burger-sticks:before,
  .burger-icon .burger-sticks:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }
  
  .burger-icon .burger-sticks:before {
    top: 5px;
  }
  
  .burger-icon .burger-sticks:after {
    top: -5px;
  }
  
  .burger-check {
    display: none;
  }
  
  .burger-check:checked~.menu {
    max-width: 400px;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks {
    background: transparent;
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:before {
    transform: rotate(-45deg);
  }
  
  .burger-check:checked~.burger-icon .burger-sticks:after {
    transform: rotate(45deg);
  }
  
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:before,
  .burger-check:checked~.burger-icon:not(.steps) .burger-sticks:after {
    top: 0;
  }
  





.arrow {
  z-index: 1000;
  opacity: 1;
  position: absolute;
  right:10px;
  top: 30vh;

}

.circle {
  transform: translate(50%, -50%) rotate(0deg);
  transform-origin: center;

}




.draw-in {
  stroke-dasharray: 1000;
  stroke-dashoffset: 10;
  animation: draw 10s ease-in-out alternate infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 1000;
  }
}

.item-to {
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}

.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}




